@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root {
    --primary : #6246ea;
    --secondary : #eee;
    --primary-300 : #d1d1e9;
    --body-bg: #000;
}

a:focus, button:focus, input:checked {
    outline: none !important;
    border: none !important;
}

body {
    margin : 0;
    padding : 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--body-bg) !important;
    color: #fff;
}

a {
    color: var(--primary);
}

a:hover {
    color: #4933b9;
}
header, main, footer, article, section {
    background-color: var(--body-bg) !important;
}
/* a:focus {color: var(--primary) !important; background-color: transparent !important;} */

.text-light {color: #fff !important;}
.text-primary {color: var(--primary) !important;}
.text-primary-300 {color: var(--primary-300) !important}
.text-secondary {color:var(--secondary) !important;}
.text-muted {color: #888 !important;}

.btn-primary {
    background-color: var(--primary) !important;
    border: none !important;
}
.btn-secondary {
    background-color: var(--secondary) !important;
    border: none !important;
    color: #000;
}

.btn {
    border-radius: 20pt !important;
}

.bg-dark {background-color: #111 !important;}
.bg-primary {background-color: var(--primary) !important;}
.bg-secondary {background-color: var(--secondary) !important;}
.bg-primary-300 {background-color: var(--primary-300) !important;}
.btn-outline-primary {background-color: transparent !important; border: 1px solid var(--primary) !important; color: var(--primary) !important}

.btn-primary:hover {background-color: #4933b9 !important;}
.btn-secondary:hover {background-color: #d9d8d8 !important; color: #000 !important;}
.bg-primary-300:hover {background-color: #c4c4e9 !important;}
.btn-outline-primary:hover {background-color: var(--primary) !important; color: #fff !important;}

.border-primary {border-color: var(--primary) !important}
.border-dark {border: 2px solid #88888850;}

.btn-circle {border-radius: 50% !important; aspect-ratio: 1/1;}

/* .border {border:1px solid #eee !important} */
.border {border: 2px solid #888;}
hr {border-top:1px solid #bbb !important}

.tile {
    background : #111;
    border-radius: 15pt !important;
}

/* Navbar style */
.navbar {
    background-color: #000 !important;
    border-bottom: 1px solid #88888850 !important;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-brand {
    font-weight: 600;
    color: #fff;
}

.nav-link, nav .dropdown-item, .dropdown-item:focus {
    color: #888;
}

.nav-link:hover, .dropdown-item:hover {
    color: #fff !important;
}

.active {
    color: #fff !important;
    background-color: transparent !important;
}

@media screen and (max-width:992px) {
    .offcanvas {
        --bs-offcanvas-width: 100vw !important;
        left: 0 !important;
        right: 0 !important;
        top: auto !important;
        transition: all .3s ease-in-out !important;
    }
    .offcanvas.offcanvas-start {
        height: 75%;
        transform: translateY(0%) !important;
    }
}

@media screen and (max-width:768px) {
    #steps {
        display: none !important;
    }

    .method img {
        height:40px !important;
    }
}

/* General Form style */
.form-control, .form-check-input, .form-select {
    background-color: transparent !important;
    border: 2px solid #88888850 !important;
    color: #aaa !important;
}

.form-select option {
    color: #000 !important;
}

.form-label, .form-check-label {
    color: #aaa !important;
}

.form-check-input:checked {
    background-color: var(--primary) !important;
}

:focus {
    outline: none !important;
    border : 2px solid var(--primary) !important;
    box-shadow: 0 0 0 !important;
}

/* Login & Sign Up Style */

/* Rent Form style */

/* Filter Style */


.offcanvas {
    --bs-offcanvas-width: min(100vw, 300px) !important;
}

.offcanvas-body::-webkit-scrollbar {    
    display: none !important;
}

@media screen and (max-width:992px) {
    .offcanvas {
        --bs-offcanvas-width: 100vw !important;
        /* height : 100%; */
        left: 0 !important;
        right: 0 !important;
        top: auto !important;
        transition: all .3s ease-in-out !important;
    }
    .offcanvas.offcanvas-start {
        height: 75%;
        transform: translateY(0%) !important;
    }
}

@media screen and (max-width:768px) {
    #steps {
        display: none !important;
    }

    .method-img {
        height: 40px !important;
    }
}

